.nav-menu {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 1; /* This allow the links to be clickable */
}

.flag{
  padding: 5px;
  text-decoration: none;
}